body, html {
    margin: 0;
    height: 100%;
    font-family: Quicksand;
}

.flex-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0 1rem;

}

.flex-item-1 {
    justify-content: center;
    padding: 1rem 1rem 1rem 0;
}

.flex-container-2 table tr td a {
    text-decoration: none;
    color: black;
}

.flex-container-2 table tr td {
    text-decoration: none;
    color: black;
}
